	
div.nav ul li a, div.nav ul li a:hover, div.nav ul li a:active, div.nav ul li a:visited, div.nav ul li a:visited:hover { text-decoration: none; border: none; outline: none; }


div.nav {
    padding: 0px;
    margin: 10px auto 0px auto;
    border-radius: 5px;
    -moz-border-radius: 5px 5px 5px 5px;
    -webkit-border-radius: 5px 5px 5px 5px;
    /*-moz-box-shadow: 0px 1px 2px #ccc;*/
    display: table;
    width: 100%;
    height: 30px;
    background: #D6C8BD;
    padding-top: 5px;
    box-shadow: 0 3px 6px #fbf5f3;
}

div.nav ul {
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    display: inline-block;
    list-style: none;
    float: left;
}

div.nav ul li {
    margin: 0px 1px 0px 0px;
    padding: 0px 0px 0px 0px;
    float: left;
}
div.nav ul li:first-child {
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
}
div.nav ul li:last-child {
    margin-right: 0px !important;
    border-radius: 0px 5px 5px 0px;
    -moz-border-radius: 0px 5px 5px 0px;
    -webkit-border-radius: 0px 5px 5px 0px;
}
div.nav ul li a {
    margin: 0px 1px 0px 1px;
    padding: 11px 20px 11px 20px;
    font-family: Lucida Sans, Arial, Helvetica, sans-serif;
    font-size: 12px;
    font-weight: bold;
    color: #fff;
    text-shadow: #cecece 0px 1px 0px;
}

div.nav ul li:first-child a {
    border-radius: 5px 0px 0px 5px;
    -moz-border-radius: 5px 0px 0px 5px;
    -webkit-border-radius: 5px 0px 0px 5px;
    padding: 0 20px;
    margin: 0;
}

/*		div.nav ul li:last-child a {
                        margin-right: 0px !important;
                        border-radius: 0px 5px 5px 0px;
                        -moz-border-radius: 0px 5px 5px 0px;
                        -webkit-border-radius: 0px 5px 5px 0px;
                }*/


div.nav ul li:hover a {
    background-color: #715241;
    color: #fff;
    text-shadow: #454545 0px -1px 1px;
}
div.nav ul li.selected a {
    margin: 0px 0px 0px 0px;
    padding: 11px 33px 11px 33px;
    /*		border-width: 2px 1px 0px 1px;
                    border-style: solid;
                    border-color: #282928 #3f3f3f #525051 #3f3f3f;
                    background: -webkit-gradient(linear, left top, left bottom, from(#373837), to(#525051));
                    background: -moz-linear-gradient(top,  #373837,  #525051);
                    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#373837', endColorstr='#525051');
                    -*/
    color: #fff;
    text-shadow: #454545 0px -1px 1px;
}
div.nav ul li.selected:last-child a {
    padding-right: 34px;
}

/*-----*/

div.nav ul li.logo a {
    padding: 5px 34px 7px 34px;
}
div.nav ul li.logo:active a {
    padding: 5px 35px 7px 35px;
    border: none;
}
div.nav ul li.logo a img { width: 24px; height: 24px; }

/*-----*/
.search {
    float: right;
}
.search a {
    padding: 9px 9px 6px 7px;
}
.search a input {
    width: 150px;
    height: 19px;
    padding: 0px 0px 0px 20px;
    border-radius: 8px;

    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background: #fff url(../images/search.png) no-repeat 5px 3px;
    /*			-*/
    font-size: 11px;
    color: #715241;
    border-radius: 5px;
}
.search:hover a, .search:active a {
    /* margin: 0px 1px 0px 1px; */
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    background: none;
}
.search:active a {
    /*	padding: 8px 9px 9px 7px;
    */
}



/*      QUICK MENU STYLE  */

.select{
    float:right;
    padding: 0 20px 0 10px;
}



/*------------------ selectFruits -----------------*/

.selectFruits{
    font-size:12px;
    /*                background:url("../images/fruitsBackground.jpg") repeat-x top right;*/
    background-color: #fbf5f3;
    height:23px;
    width:110px;
    border-radius: 6px;
    border: medium none;
}

.selectFruits .passiveSelect,.selectFruits .activeSelect{
    height:23px;
    line-height:1.9em;
    display:block;
    cursor:pointer;	
    padding-left:10px;
    margin-right:6px;
    color:#715241;
    font-weight:bold;
    background:url("../images/dropdown.png") no-repeat top right;
}

.selectFruits .activeSelect{
    color:#715241;

    /*		background:url("../images/fruitsSelected.jpg") no-repeat top right;*/
}

.selectFruits ul{
    padding:10px !important;
    margin:0;
    list-style:none;
    max-height:250px;
    overflow-x: hidden;
    overflow-y: auto;
    cursor:pointer;
    width:250px;
    padding:3px;
    /*		background:#5a5a5a url("../images/fruitsBackground2.jpg") repeat-x top right;*/
    background-color: #d6c8bd;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
}

.selectFruits ul li{
    padding:5px !important;
    margin:0;
    width:110px;
    color:#fff;
    font-weight: bold;
    display:block;
    float:left;
    text-align: left;
}

.selectFruits  .special{
    font-weight:bold;
}

.selectFruits .selected{
    color:#715241;
}
.selectFruits li:hover{
    color:#715241;
    background-color: #fbf5f3;
}



